.vscode

logs/*
images/*

*/**/__pycache__/*

_*/

data/carla_map
data/models*
data/carla-*


log
shared/*
!shared/.gitkeep
autoware
autoware_data
autoware_planner
*.tar.gz

test*

speeds/
pnr_results/
dataset_path/
*.pdf